<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Search book page</title>
</head>

<body>

	<form th:method="POST" th:action="@{/web-library/books/search}">
		<label for="searchTitle"> Enter title to search: </label>
		<input type="text" th:name="title" id="searchTitle">
		<input type="submit" value="Search!" />
		</br>
		<div th:if="${books}">
			<div th:if="${books.isEmpty()}">
				<p th:text="'No books found('" />
			</div>
			<div th:unless="${books.isEmpty()}">
				<div th:each="book : ${books}">
					<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfRelease()}">
					<div th:if="${book.getOwner() == null}">
						<p th:text="'This book is free)'" />
					</div>
					<div th:unless="${book.getOwner() == null}">
						<p th:text="'Now this book is assigned to ' + ${book.getOwner().getName()}">
							<hr />
					</div>
				</div>
			</div>
		</div>
	</form>

</body>

</html>